@inject NavigationManager navManager
@inject IHttpClientFactory HttpClientFactory
@inject IJSRuntime JSRuntime
@using BattAnimeZone.Client.Components
@using BattAnimeZone.Shared.Models.AnimeDTOs
@rendermode InteractiveWebAssembly
@page "/Profile/{UserName}"
<link rel="stylesheet" href="/ProfilePage.css?version=0.1" />

@if (!loaded)
{
    <LoadingComponent></LoadingComponent>
}else{


    <RadzenRow id="mainContainerRow">


        <RadzenColumn id="outerLeftColumn">

        <div class="UserNameDiv">
            <span class="userNameSpan">@UserName's profile</span>
        </div>


        </RadzenColumn>

         <RadzenColumn id="outerRightColumn">
            <RadzenTabs Change=@OnChange TabPosition=TabPosition.Top RenderMode="TabRenderMode.Client">
                <Tabs>
                    @foreach(string state in PossibleStates)
                    {
                        <RadzenTabsItem Text="@state">
                            <RadzenDataList PageSize="10" WrapItems="true" AllowPaging="true" Data="@OwnAnimes[state]" TItem="AnimeProfilePageDTO">
                                <Template Context="anime">
                                    <RadzenRow class="animeRow" @onclick=@(() => NavigateTo(anime.Mal_id))>
                                        <RadzenColumn class="imageCol">
                                            <RadzenImage class="imageDiv" Path="@anime.ImageLargeWebpUrl"></RadzenImage>
                                        </RadzenColumn>

                                        <RadzenColumn class="notImageCol">

                                            <RadzenRow class="animeCardUpperRow">

                                                <div class="titleCol">
                                                     @anime.Title
                                                </div>

                                            </RadzenRow>

                                            <RadzenRow class="animeCardLowerRow">

                                                <div class="attributesCol">
                                                    Type: <br> @anime.MediaType
                                                </div>

                                                <div class="attributesCol">
                                                    Episodes: <br> @anime.Episodes
                                                </div>

                                                <div class="attributesCol">
                                                    Score: <br> @anime.Score
                                                </div>

                                                <div class="attributesCol">
                                                    Popularity: <br> @anime.Popularity
                                                </div>

                                                <div Sclass="attributesCol">
                                                    Year: <br> @anime.Year
                                                </div>

                                                <div class="attributesCol">
                                                    Status: <br> @anime.Status
                                                </div>

                                                <div class="attributesCol">
                                                    Rated at: <br> @anime.UserRating/10
                                                </div>

                                                <div class="attributesCol">
                                                    Favorite: <br> @FavoriteToString(anime.UserFavorite)
                                                </div>

                                            </RadzenRow>

                                        </RadzenColumn>


                                    </RadzenRow>
                                </Template>
                            </RadzenDataList>
                        </RadzenTabsItem>
                    }

                </Tabs>
            </RadzenTabs>
        </RadzenColumn>


    </RadzenRow>




    @code {

    bool loaded = false;

    [Parameter]
    public string? UserName { get; set; }

    Dictionary<string, List<AnimeProfilePageDTO>?> OwnAnimes = new Dictionary<string, List<AnimeProfilePageDTO>?>();
    string selected_tab = "Finished";
    HttpClient httpClient;

    List<string> PossibleStates = new List<string>(){ "completed", "watching", "on hold", "planned", "dropped", "favorites" };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            loaded = true;
            try
            {
                httpClient = HttpClientFactory.CreateClient("AuthenticatedClient");
                var response = await httpClient.GetAsync($"{navManager.BaseUri}api/AccountController/GetProfile/{UserName}");
                if (response.IsSuccessStatusCode)
                {
                    List<AnimeProfilePageDTO>? queried_animes = await response.Content.ReadFromJsonAsync<List<AnimeProfilePageDTO>?>();

                    foreach(var state in PossibleStates)
                    {
                        OwnAnimes[state] = new List<AnimeProfilePageDTO>();
                    }

                    if (queried_animes != null)
                    {
                        foreach (var anime in queried_animes)
                        {

                            if (OwnAnimes[anime.UserStatus] != null)
                                OwnAnimes[anime.UserStatus].Add(anime);
                            else                        
                                OwnAnimes[anime.UserStatus] = new List<AnimeProfilePageDTO> { anime };

                            if (OwnAnimes["favorites"] != null && anime.UserFavorite == true)
                                OwnAnimes["favorites"].Add(anime);
                            else if (OwnAnimes["favorites"] == null && anime.UserFavorite == true)
                            {
                                OwnAnimes["favorites"] = new List<AnimeProfilePageDTO> { anime };
                            }
                        }
                    }
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("console.error", $"{response.StatusCode}\n {response.ReasonPhrase}");

                }
            }
            catch (Exception e)
            {
                await JSRuntime.InvokeVoidAsync("console.error", $"{e.Message}");
            }
            finally
            {
                StateHasChanged();
            }
        }
    }

    string FavoriteToString(bool favorite)
    {
        return favorite == true ? "Yes" : "No";
    }

    void OnChange(int index)
    {
        Console.WriteLine($"selected {index}");
    }

    protected void NavigateTo(int mal_id)
    {

        navManager.NavigateTo($"/anime/{mal_id}");
    }

}

}
